
{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Infinite Canvas" %}
{% set active_page = "about" %}

{% block content %}

<div class="about-section py-5">
    <div class="container text-dark">
        <h1 class="display-4 text-center special-heading">INFINITE CANVAS</h1>
        <p class="lead text-center welcome-text"><strong>Welcome to the world of art</strong></p>

        <div class="row justify-content-center mt-4">
            <div class="col-md-8 bg-white p-4 shadow-sm">
                <p class="text-muted">At Infinite Canvas, we believe that art isn’t just meant to adorn walls—it's a portal to different worlds, emotions, and experiences. Born from a passion for creativity and the transformative power of art, Infinite Canvas is more than just an online store—it's a sanctuary where artists and art lovers converge.</p>

                <p class="text-muted">From the sweeping strokes of abstract art to the meticulous details of realism, every piece in our collection is carefully curated to ensure that you find something that resonates. Our platform features works from emerging talents and seasoned artists alike, giving them a vast stage to share their vision.</p>

                <p class="text-muted">Infinite Canvas is dedicated to making art accessible to everyone. Whether you're a collector, a first-time buyer, or someone seeking to add a splash of inspiration to your space, we have something that will capture your heart and imagination. Every painting you discover here is more than just paint on canvas—it’s a reflection of the artist’s journey and a spark to ignite your own creativity.</p>

                <p class="text-muted">Join us at Infinite Canvas, where every click brings you closer to finding a masterpiece that is uniquely yours. Embrace the art, celebrate the artists, and transform your environment with pieces that speak to you. Your perfect painting awaits.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}